.contenedor{
    text-align: center;
}

.title{
    font-size: 35px;
    font-weight: 600;
}

.button{
    
    padding: 15px 35px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    transition: background-color 0.3s ease;
}

.button-blue{
    background-color: #1667DB;
}

.button-blue:hover{
    cursor: pointer;
    background-color: #165bbb;
}
.button-blue:active{
    cursor: pointer;
    background-color: #1951a0;
}

.button-orange{
    background-color: #f79f1b;
}

.button-orange:hover{
    cursor: pointer;
    background-color: #e6951c;
}
.button-orange:active{
    cursor: pointer;
    background-color: #c98319;
}

.button-red{
    background-color: #e01a1a;
}

.button-red:hover{
    cursor: pointer;
    background-color: #c71717;
}
.button-red:active{
    cursor: pointer;
    background-color: #ad1717;
}


.textInput{
    border: 2px #1667DB solid;
    width: 250px;
    border-radius: 35px;
    padding: 8px 18px;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.textInput:focus{
    outline: 0;
    border-color:#1951a0;
    box-shadow: 0px 0px 4px #666;
}



.bigCard{
    margin: 25px auto;
    width: 400px;
    border: 1px white solid;
    box-shadow: 0px 0px 5px #666;
    transition: box-shadow 0.5s ease;
    border-radius: 5px;
    padding: 15px;
}



.bigCard .image{
    width: 100%;
}

.bigCard .title{
    font-size: 28px;
    font-weight: 500;
}


.bigCard .content{
    font-weight: 500;
}

.bigCard .row{
    margin: 4px 0px;
}

.bigCard .row .col-4{
    text-align: start;
}

.contentCards{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.options{
    display: flex;
    justify-content: center;

}

.options .button{
    margin: 8px;
}























